:root {
    box-sizing: border-box;
}

body{
    background-color: #252526;
}

.game {
    width: calc(70% - 2rem);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 1rem;
    color: #3e3e42;
}

.spaces {
    font-size: 8rem;
    align-self: center;
    justify-self: center;
    padding: .5rem;
    height: 9rem;
    text-align: center;
    width: 90%;
    border: #2d2d30 1px solid;
}

#popup{
    display: none;
}

.X {
    text-align: center;
}
    
.O {
    text-align: center;
}

.win {
    background-color: #007acc;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10dvh;
    font-size: 2rem;
    padding: 2%;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 5dvh;
    margin-bottom: 5px;
}

.button-12 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
    background: #6E6D70;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: #DFDEDF;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
}
    
.button-12:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}

.form-popup {
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dfdedf55;
}

#playerForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    padding: 1em 0;
}

input {
    margin: 10px 0;
}

